@tailwind base;
@tailwind components;
@tailwind utilities;

/*
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/

/****** ESTILS DEL FOOTER ********/
footer {
  @apply bg-gray-900 text-white text-center py-5;
}

footer p {
  @apply text-sm;
}

footer .social-icons {
  @apply mt-2;
}

footer .social-icons a {
  @apply mx-3 inline-block;
}

footer .social-icons a img {
  @apply w-6 h-6 transition-transform duration-300 ease-in-out;
}

footer .social-icons a:hover img {
  @apply transform scale-125;
}

.social-iconsCSS {
  display: flex;
  justify-content: center; /* Centra les icones horizontalment */
  margin-top: 10px; /* Espai entre el text i les icones */
}

.social-iconCSS {
  width: 37.5px; /* Amplada de la icona */
  height: 34px; /* Altura de la icona */
  margin: 0 10px; /* Espai entre les icones */
  transition: transform 0.2s; /* Afegir una transició suau */
}

.social-iconCSS:hover {
  transform: scale(1.2); /* Augmenta la icona al passar el ratolí */
}

/****** FI ESTILS DEL FOOTER ********/

/****** ESTILS CARACTER ********/


/****** ESTILS DEL NAVBAR ********/

/****** ESTILS GENERALS *********/

/****** FI ESTILS GENERALS *********/

